* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --border: 2px solid rgb(0 0 0 / 0.2);
    --text-color: #d1d2fe;
    --background-dark: #307599;
    --dark-text:#153a4d;
    --highlight: #a0d6ed;
    --color-light: #dbe4eb;
    --background-light: #bf463d;
    --heading-font: Georgia,
        'Times New Roman',
        Times,
        serif;
    --main-font: "Nunito Sans";
    --margin: 1rem;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    width: 100%;
    
}

h1 {
    background-color: var(--background-dark);
    color: white;
    font-family: var(--heading-font);
    padding: 20px;
    
}

nav {
    background-color: var(--background-light);
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 15px;
}

main {
    display: grid;
    grid-template: auto 1fr / auto;
}

h2 {
    margin: 35px 0 0 0;
    grid-column: 1/3;
    background-color: var(--color-light);
    color: var(--dark-text);
    padding: 10px;
}

h3 {
    background-color: var(--dark-text);
    font-family: var(--heading-font);
    color: white;
    border-radius: 13px 13px 0 0;
    width: 100%;
    padding: 10px 20px;
}

footer {
    background-color: var(--background-dark);
    color: white;
    width: 100%;
    display: grid;
    place-items: center;
    margin-top: 30px;
}

footer p {
    margin: 5px;
    padding: 5px;
}

img {
    width: 200px;
    height: auto;
}

nav a {
    text-decoration: none;
    color: white;
}

.card {
    display: flex;
    flex-direction: column;
    border: var(--border);
    border-radius: 15px;
    margin: 30px;
}

.card img {
    float: right;
    margin: 10px;
}

h4 {
    border-bottom: var(--border);
    padding: 10px;
    width: 75%
}

.country figure {
    float: left; 
    margin: 10px;
}

.country {
    margin-top: 40px;
}

figcaption {
    text-align: center;
}



.bio {
    padding: 20px;
}

p {
    margin: 10px;
    padding: 10px;

}

ul {
    margin-top: 20px;
}

li {
    margin: 5px;
    text-align: left;
}

li a {
    color: var(--background-dark)
}

a:hover {
    color: var(--highlight);
}